  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          
           <li class="navbar-brand logo_h">
            <%= link_to image_tag("logo.png"), root_url %>
          </li>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class='nav-item active'>
              
                <%= link_to 'Home', root_url, class: 'nav-link' %>
              </li>
              <li class="nav-item"> 
                <%= link_to 'Sobre', about_path, class: 'nav-link'  %>
              </li>
               

              <li class="nav-item">
                <%= link_to 'Contato', contact_path, class: 'nav-link'  %>
              </li>
            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button" href="login.html">Começar</a>
            </div>
          </div> 
        </div>
      </nav>
    </div>
  </header>